@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@keyframes glitch {
  0% {
    transform: translate(0);
    text-shadow: -2px 0 #ff0000, 2px 2px #0000ff;
  }
  25% {
    transform: translate(-2px, 2px);
    text-shadow: 2px -2px #ff0000, -2px 2px #0000ff;
  }
  50% {
    transform: translate(2px, -2px);
    text-shadow: 2px 0 #ff0000, -2px -2px #0000ff;
  }
  75% {
    transform: translate(-2px, -2px);
    text-shadow: -2px 2px #ff0000, 2px 0 #0000ff;
  }
  100% {
    transform: translate(0);
    text-shadow: -2px 0 #ff0000, 2px 2px #0000ff;
  }
}

.text-glitch:hover {
  animation: glitch 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite both;
}